In [1]:
a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
c = ['Droughts', 'Floods', 'Storms']
d = [2.6,4.5,6.0,8.5]

In [2]:
import pandas as pd
from itertools import product
df = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df.loc[df.Decade < 2030, 'RCP'] = None
df = df.drop_duplicates()

In [3]:
import numpy as np
df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
df['#LoDO'] = np.random.randint(0,100, df.shape[0])
df['#MeDO'] = np.random.randint(0,100, df.shape[0])
df['#HiDO'] = np.random.randint(0,100, df.shape[0])
df['°C'] = np.random.randint(-60,50, df.shape[0])

In [4]:
df.to_csv('../data/randominput.csv',index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,#LoDO,#MeDO,#HiDO,°C
0,1900,Australia and New Zealand,Droughts,NaN,33619636,202896,18,11,17,8
4,1900,Australia and New Zealand,Floods,NaN,61142759,550122,94,3,27,-23
8,1900,Australia and New Zealand,Storms,NaN,22866278,771846,92,19,9,-17
12,1900,Caribbean,Droughts,NaN,56849661,632352,90,38,27,-44
16,1900,Caribbean,Floods,NaN,62743899,173691,31,27,87,9
...,...,...,...,...,...,...,...,...,...,...
5275,2090,Western Europe,Floods,8.5,73289692,641215,28,81,66,12
5276,2090,Western Europe,Storms,2.6,89984235,798509,38,48,51,-29
5277,2090,Western Europe,Storms,4.5,78281588,962390,46,79,23,-2
5278,2090,Western Europe,Storms,6.0,21292237,637501,73,37,24,-20
5279,2090,Western Europe,Storms,8.5,88991956,755706,80,60,95,19