In [1]:
a = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010,2020,2030,2040,2050,2060,2070,2080,2090]
b = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']
c = ['Droughts', 'Floods', 'Storms']
d = [2.6,4.5,6.0,8.5]

In [2]:
import pandas as pd
from itertools import product
df = pd.DataFrame(list(product(a,b,c,d)), columns=['Decade','UN_Geosheme_Subregion','Disaster_Type','RCP'])
df.loc[df.Decade < 2030, 'RCP'] = None
df = df.drop_duplicates()

In [3]:
import numpy as np
df['Financial_Impact'] = np.random.randint(0,100000000, df.shape[0])
df['Human_Impact'] = np.random.randint(0,1000000, df.shape[0])
df['#LoDO'] = np.random.randint(0,100, df.shape[0])
df['#MeDO'] = np.random.randint(0,100, df.shape[0])
df['#HiDO'] = np.random.randint(0,100, df.shape[0])
df['°C'] = np.random.randint(-60,50, df.shape[0])

In [4]:
df.to_csv('randominput.csv',index=False)
df

,Decade,UN_Geosheme_Subregion,Disaster_Type,RCP,Financial_Impact,Human_Impact,#LoDO,#MeDO,#HiDO,°C
0,1900,Australia and New Zealand,Droughts,NaN,87793440,787710,17,47,0,-40
4,1900,Australia and New Zealand,Floods,NaN,98627263,149893,82,92,59,13
8,1900,Australia and New Zealand,Storms,NaN,64078233,3920,25,65,60,1
12,1900,Caribbean,Droughts,NaN,97041184,209161,20,15,63,-46
16,1900,Caribbean,Floods,NaN,97265180,673704,94,47,85,-3
...,...,...,...,...,...,...,...,...,...,...
5275,2090,Western Europe,Floods,8.5,62171525,261113,78,15,0,-9
5276,2090,Western Europe,Storms,2.6,96909503,501717,20,90,57,46
5277,2090,Western Europe,Storms,4.5,50927133,378583,90,71,57,48
5278,2090,Western Europe,Storms,6.0,91721915,855929,23,99,98,36
5279,2090,Western Europe,Storms,8.5,91334463,408035,45,56,76,-23